
*{
    font-family: Arial, Helvetica, sans-serif;  
}

main{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzwJLgz6lIxSHcZPJ5zyRIDFnGsVfBilUj0A&s);
    background-size: 400px;
}



#tituloPrincipal{
 width: 100%;
 color: rgb(151, 224, 16);
 text-align: center;
}

#productos{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#carrito{
    width: 40%;
    margin: auto;
    display: none;
    flex-wrap: wrap;
    background-color: white;
}

.contenedor{
    width: auto;
    margin: 0px 10px;
    background-color: #2b5c1d;
    margin: 15px;
    
}

.imagen{
    width: 500px;
    height: 500px;
}

.titulo{
    text-align: center;
    color: white;
}

.precio{
    text-align: center;
    color: white;
    font-size: 15px;
}

.boton{
    text-align: center;
    width: 100%;
    height: 30px;
    color: #2b5c1d;
    background-color: white;
    border: 5px double #2b5c1d ;
}

h3{
    color: #2b5c1d;
    
}

#botonCompra{
    width: 100%;
    height: 50px;
}

#carritoCompra{
    width: 200px;
    height: 70px;
    background-color: burlywood;
    position: absolute;
    right: 10px;
    top: 10px;
}
